{% extends 'photo/base.html' %}
{% block bb %}
    <div class="container">
        <div class="row">
            {% for photo in photos %}
                <div class="card col-3" style="width: 18rem;">
                  {% if photo.image %}
                      <img src="{{photo.image.url}}" alt="{{photo.image}}" class="card-img-top">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{photo.title}}</h5>
                    <p class="card-text">{{photo.content}}</p>
                    <a href="{% url 'photos:detail' photo.id%}" class="btn btn-primary">글보기</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}